.dotted-label {
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zm12 0c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zM8 6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat 50%/contain;
    height: 16px;
    width: 16px;
    margin: 0 0 -2px;
}

.navbar-responsive-menu {
    width: calc(100% - 20px);
    transition: all 1s;
}