.container-image {
    position: absolute;
    top: -88px;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: -1;
}

.gallery-screenshots img {
    width: calc(50% - 6px);
    max-height: 102px;
    object-fit: cover;
}

.gallery-screenshots img:first-child {
    width: 100%;
    max-height: 216px;
}

.gallery-screenshots img:last-child {
    display: none;
}

.platforms:last-child span,
.genres:last-child span,
.developers:last-child span,
.publishers:last-child span,
.tags:last-child span {
    display: none;
}

.game-detail pre {
    font-family: sans-serif;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}